<h1>{{name}}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{name}}</dd>

  <td>Edad:</td>
  <dd>{{age}}</dd>

  <td>Metodo:</td>
  <dd>{{gerHeroDescription()}}</dd>

  <td>Capitalizado:</td>
  <dd>{{capitalizedName}}</dd>
  <dd>{{2+2}}</dd>
</dl>

<!-- directivas : ngif se puede sacar con el shorcut a-ng -->
<!-- Angular tiene un ciclo de deteccion de cambios que se encarga de agregar y eliminar
este elemento del DOM dejando una referencia para luego seaber donde montarlo nuevamente -->

<button
  class="btn btn-primary mx-2"
  (click)="changeName()"
  *ngIf="name!=='spiderman'"
  >
  Cambiar nombre
</button>

<button
  class="btn btn-primary"
  (click)="changeAge()"
  *ngIf="age!==20"
  >
  Cambiar edad
</button>

<button
  class="btn btn-primary mx-2"
  (click)="resetForm()"
  >
  Reset
</button>
