<h3>Listado de heroes!</h3>

<!-- la cosa es que aca no es eficiente, porque esta evaluando 2 veces la misma
condicion y ademas necesito un div adicional -->
<h3 *ngIf="deletedHero; else nothingWasDeleted">Heroe borrado <small class="text-danger">{{deletedHero}}</small></h3>

<!-- ng-template es como un fragment en react -->
<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada.</h3>
</ng-template>

<button
  class="btn btn-outline-danger"
  (click)="removeLastHero()"
  >
  Borrar ultimo heroe
</button>

<ul class="mt-2 list-group">
  <li
    class="list-group-item"
    *ngFor="let name of heroNames"
    >
    {{name}}
  </li>
</ul>
